<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script type="text/javascript" src="node_modules/ng-sortable/dist/ng-sortable.min.js"></script>-->
    <!--<link rel="stylesheet" href="node_modules/ng-sortable/dist/ng-sortable.min.css">-->
    <script src="build/bundle.js"></script>
    <link rel="stylesheet" href="source/style.css">
</head>
<body ng-app="todoApp">
    <h1>To Do List on Angular</h1>

    <div ng-app="todoApp" ng-controller="todoController">
        <form ng-submit="add()">
            <input ng-model="title" placeholder="Write todo..."><button>Add</button>
            <input type="search" placeholder="Search" ng-model="search">
        </form>
        <div class="task">Done Item: {{doneTodo}}{{updateSelected()}}</div>
        <div class="task">Not Done Item: {{allTodo}}</div>
        <ul  ng-model="taskItem"><!--as-sortable="sortableOpt"-->
            <li ng-repeat="item in taskItem | filter:search track by $index" > <!--as-sortable-item-->
                <div> <!--as-sortable-item-handle-->
                    <input type="checkbox" ng-model="item.done" ng-click="saveToLocal()"/>
                    <span class="completed-{{item.done}}">{{ item.name }}</span>
                    <button ng-click="delete()">x</button>
                    <button ng-click="edit()">Edit</button>
                </div>
            </li>
        </ul>
        <div class="popup" ng-show="popup" >
            <input type="text" ng-model="editInput"/>
            <button ng-click="save()">Save</button>
            <button ng-click="cancel()">Cancel</button>
        </div>
    </div>
</body>
</html>